html,
body {
  height: 100%;
  min-height: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.root footer {
  margin-top: auto;
}

.rating {
  margin-bottom: 1rem;
}

.rating span {
  margin-right: .1rem
}